
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


img {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family:Raleway, sans-serif;
  /* font-family: Raleway,sans-serif; */
}
body {
  margin: 0;
  background-color: #f8f8f8;
}
main {
  display: block;
}
a{
  text-decoration: none;
  font-weight: 400;
  
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  min-height: 95vh;
  height: 100%;
}
.hero__container {
  padding: 2.625rem 0;
}
.hero__wrapper {
  padding: 9rem 0;
  max-width: 60%;
  width: 100%;
  margin-top: 2.8375rem;
}
.hero__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.hero__name::before {
  position: absolute;
  top: 0.5rem;
  left: 0;
  content: "";
  width: 1.5rem;
  height: 0.0625rem;
  background: crimson;
}
.hero__name-title {
  color: crimson;
  margin-left: 1.5rem;
  padding-left: 0.25rem;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.36;
}
.hero__heading {
  padding: 1.25rem 0;
  font-size: 2.8rem;
  max-width: 85%;
  color: #232d38;
  line-height: 1.15;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
.hero__description {
  max-width: 80%;
  color: #777;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem 0;
}
.hero__explore {
  margin-top: 1.625rem;
}
.hero__background {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: #fbfbfb;
}
.hero__background-img {
  width: 40%;
  min-height: 100%;
  padding-right: 2.75rem;
}

.main__container {
  max-width: 73.125rem;
  width: 100%;
}

.primary__btn {
  background-color: #c00c40;
  border: none;

  color: white;
  border-radius: 2rem;
}

.hero__explore-btn {
  padding: 1rem 2.2rem;
  font-size: 1.1rem;
}

.hero__heading__span {
  text-decoration: underline;
  font-style: italic;
}

span {
  color: #c00c40;
}

.intro__desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  /* background-color: #a06e7c; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/Images/service_background_2.jpg);
  background-size: cover;
  min-height: 35rem;
  z-index: -1;
}
.intro__desc__content {
  text-align: center;
  width: 100%;
  margin-top: 6rem;
  position: absolute;
  max-width: 35%;
  padding-bottom: 17rem;
}

.intro__welcome {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 3;

  font-size: 1.6rem;
  color: white;
}
.intro__content {
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
}

.service {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3rem;
  padding: 4rem;
}

.service__container {
  z-index: 1;
  margin: 0 auto;
  margin-top: -15rem;
  overflow: hidden;
  max-width: 85.256rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: -2px 8px 9px -6px hsl(0deg 0% 69% / 63%);
}

.service__container-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1364px;
  overflow: hidden;
}

.service__blocks {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  min-height: 18rem;
  border: 0.067rem solid #f2f2f2;
}

.service__title {
  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}
.service__description {
  max-width: 80%;
  word-break: break-word;
  overflow: hidden;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 17px;
  line-height: 1.5;
  color: gray;
  width: 100%;
}

.service__img {
  width: 9%;
}


/* <------------------------project section start---------------------> */

.project {
  padding: 3rem 0;
}
.all-items {
  background-color: white;
  margin-top: -8rem;
  padding: 2rem;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.item:nth-child(even){
  flex-direction: row-reverse;
}
.item:nth-child(even) .right{
  margin-left: 0;
}

.item:nth-child(even) .left{
  margin-left:-9.375rem ;
}

.item .left{
  flex: 1;
}
.item .right{
  flex: 1;
  margin-left: -9.375rem;
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1.2rem #00000028;
  z-index: 2;
}

.item .left .project__img{
  height: 28.25rem;
  overflow: hidden;
  border-radius: 0.9rem;
  box-shadow: 0 0 1.2rem #4705fc33;
  position: relative;
  
  
}
.item .left .project__img::after{
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.2);
}
.item .left .project__img img{
  object-fit: cover;
  transition: 0.3s ease transform;
  height: 100%;
  
}

.item:hover .left .project__img img{
  transform: scale(1.1);
  z-index: 1;
  
}

.item .right .project__title{
  font-size: 1.6rem;
  font-weight: 600;
  word-break: break-word;
  
}

.item .right .project__desc{
  color: #777;
  font-size: 1.1rem;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}
.project__button{
  display: flex;
  align-items: center;
}
.know__more-btn{
  padding: 0.8rem 1.8rem;
  margin: 0 1rem;
  font-size: 1.1rem;
}

.primary-btn-outline{
  padding: 0.7rem 1.8rem;
  color: #c00c40;
  font-size: 1.1rem;
  
  border: 2px solid #c00c40;
  border-radius: 2rem;
}

@media screen and (max-width:768px){
  .item{
    flex-direction: column;
  }

  .item .left{
    width: 100%;
  }

  .item .right{
    width: 75%;
    margin-left: 0;
    margin-top: -9.375rem;
  }

  .item:nth-child(even){
    flex-direction: column;
  }

  .item:nth-child(even) .left{
    margin-left: 0;
  }
}

@media screen and (max-width:450px){
  .item .right .project__button{
    flex-direction: column;
  }
  .item .right .project__button a{
    width: 100%;
    text-align: center;
  }
  .item .right .project__button .know__more-btn{
    margin-bottom:0.5rem ;
  }
}
/* <-------------------project section end-------------------->  */



@media screen and (max-width: 750px) {
  .service__blocks {
    width: 100%;
  }
  .intro__desc__content {
    max-width: 90%;
  }
  .hero__wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .intro__desc__content {
    max-width: 90%;
  }
  .intro__welcome {
    font-size: 1.1rem;
  }
  .intro__content {
    font-size: 0.8rem;
  }
  .service {
    padding: 1rem;
  }

  .service__img {
    width: 14%;
  }
  .intro__desc {
    min-height: 20rem;
  }
  .service__container {
    margin-top: -5rem;
  }
}
